.content {
  margin: 0 6px;
}

a {
  display: block;
  width: 100%;
  justify-content: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 240px;
  height: 28vh; 
}

.NavIcon {
  width: 180px;
}


.bubbleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}


.stbContainer {
  min-height: 426px;
  height: 63vh; 
  border-radius: 50px;
  width: 100%;
  padding: 25px;
}

.stbChild {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}

.stbContainer h3 {
  font-size: 20pt;
}


.circleContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cnbContainer {
  height: calc(50vw - 6px);
  min-height: 170px;
  border-radius: 500px;
  margin-left: 3px;
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cnbSub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.conContainer {
  height: calc(50vw - 6px);
  min-height: 170px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.btbContainer {
  min-height: 426px;
  height: 63vh;
  border-radius: 50px;
  width: 100%;
  padding: 25px;
  justify-content: flex-start;
}

.btbChild {
  display: flex;
  width: 100%;
  align-items: flex-end;
}

.btbBottom {
  display: flex;
  width: 100%;
  align-items: flex-end;
  margin-top: 15px;
}


.sdbContainer {
  min-height: 260px;
  height: 39vh;
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  width: 100%;
  padding: 25px;
  justify-content: space-between;
  gap: 8px;
}

.sdbRight h2 {
  margin-bottom: 6px;
}


.bpbContainer {
  min-height: 426px;
  height: 63vh; 
  border-radius: 50px;
  width: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pbChild {
  width: 100%;
}

.spbContainer h2 {
  font-size: 10pt;
}

.pbTop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pbMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pbBottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.spbContainer {
  min-height: 213px;
  height: 31.5vh;
  width: calc(50vw - 6px);
  border-radius: 50px;
  width: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projRow {
  display: flex;
  justify-content: space-between;
  gap: 6px
}


.gitbContainer {
  min-height: 426px;
  height: 63vh; 
  border-radius: 50px;
  width: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gitbChild {
  width: 100%;
  text-align: left;
}

.gitbMiddle {
  width: 80%;
}

.gitbBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px
}




:root {
  --color-smoky-black: #14110f;
  --color-space-cadet: #282a3e;
  --color-marian-blue: #2a4494;
  --color-persian-green: #1b998b;
  --color-icterine: #fffd82;
  --color-atomic-tangerine: #ff9b71;
  --color-french-gray: #ced3dc;
  --color-periwinkle: #b2abf2;
}