* {
  box-sizing: border-box;
}

div {
  border-color: red;
  border-style: solid;
  border-width: 1px;
}

body {
  margin: 0;
  font-family: 'ibm-plex-mono', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
